################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tree/.vs
/Tree/.vs
**/obj
**/bin
**/*.csproj.user
